.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 4rem;
}

[data-md-color-scheme=slate]  .md-nav__item .md-nav__link--active {
    color: var(--md-accent-fg-color);
}

[data-md-color-scheme=default]  .md-nav__item .md-nav__link--active {
  color: var(--md-accent-fg-color-alt);
}

.md-typeset .md-content__button {
    color: var(--md-accent-fg-color);
}

.md-typeset .md-content__button, a:focus, a:hover {
    color: var(--md-primary-fg-color);
}

.md-typeset img {
    border-style: solid;
}

.md-content {
    border-left-style: solid;
}

[data-md-color-scheme=slate] {
    --md-primary-fg-color:#343131;
    --md-default-fg-color--light: #ffffff;
    --md-default-fg-color--lighter: hsla(var(--md-hue), 15%, 90%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 15%, 90%, 0.12);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 14%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 14%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 14%, 0.07);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 0.82);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 18%, 1);
    --md-code-hl-color: #2977ff;
    --md-code-hl-color--light: #2977ff1a;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-code-hl-color);
    --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 90%, 0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 90%, 0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-typeset-mark-color: #4287ff4d;
    --md-typeset-table-color: hsla(var(--md-hue), 15%, 95%, 0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue), 15%, 95%, 0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color: hsla(var(--md-hue), 15%, 10%, 0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 8%, 1);
    --md-shadow-z1: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #00000040, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006, 0 0 0.05rem #00000059;
    color-scheme: dark;
}


[data-md-color-scheme=default] {
    --md-primary-fg-color:#343131;
    --md-hue: 225deg;
    --md-default-fg-color: #000000de;
    --md-default-fg-color--light: #000000;
    --md-default-fg-color--lighter: #00000052;
    --md-default-fg-color--lightest: #00000012;
    --md-default-bg-color: #fff;
    --md-default-bg-color--light: #ffffffb3;
    --md-default-bg-color--lighter: #ffffff4d;
    --md-default-bg-color--lightest: #ffffff1f;
    --md-code-fg-color: #36464e;
    --md-code-bg-color: #f5f5f5;
    --md-code-hl-color: #0049C7;
    --md-code-hl-color--light: #4287ff1a;
    --md-code-hl-number-color: #d52a2a;
    --md-code-hl-special-color: #db1457;
    --md-code-hl-function-color: #a846b9;
    --md-code-hl-constant-color: #6e59d9;
    --md-code-hl-keyword-color: #3f6ec6;
    --md-code-hl-string-color: #1c7d4d;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color-alt);
    --md-typeset-a-color: var(--md-code-hl-color);
    --md-typeset-del-color: #f5503d26;
    --md-typeset-ins-color: #0bd57026;
    --md-typeset-kbd-color: #fafafa;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #b8b8b8;
    --md-typeset-mark-color: #ffff0080;
    --md-typeset-table-color: #0000001f;
    --md-typeset-table-color--light: rgba(0, 0, 0, .035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-warning-fg-color: #000000de;
    --md-warning-bg-color: #ff9;
    --md-footer-fg-color: #fff;
    --md-footer-fg-color--light: #ffffffb3;
    --md-footer-fg-color--lighter: #ffffff73;
    --md-footer-bg-color: #000000de;
    --md-footer-bg-color--dark: #00000052;
    --md-shadow-z1: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000001a, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #00000059;
}

[data-md-color-accent=deep-orange] {
    --md-accent-fg-color: #dc8633;
    --md-accent-fg-color-alt: #b95a02;
    --md-accent-fg-color--transparent: #ff6e421a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

/* Custom admonitions */
:root {
    --md-admonition-icon--roles: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.51 5.51 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4 4 0 0 0-7.9 0 .75.75 0 0 1-1.482-.236A5.5 5.5 0 0 1 3.102 8.05 3.5 3.5 0 0 1 2 5.5M11 4a3.001 3.001 0 0 1 2.22 5.018 5 5 0 0 1 2.56 3.012.749.749 0 0 1-.885.954.75.75 0 0 1-.549-.514 3.51 3.51 0 0 0-2.522-2.372.75.75 0 0 1-.574-.73v-.352a.75.75 0 0 1 .416-.672A1.5 1.5 0 0 0 11 5.5.75.75 0 0 1 11 4m-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5"/></svg>')
  }
  .md-typeset .admonition.roles,
  .md-typeset details.roles {
    border-color: rgb(0, 184, 212);
  }
  .md-typeset .roles > .admonition-title,
  .md-typeset .roles > summary {
    background-color: rgba(0, 184, 212, 0.1);
  }
  .md-typeset .roles > .admonition-title::before,
  .md-typeset .roles > summary::before {
    background-color: rgb(0, 184, 212);
    -webkit-mask-image: var(--md-admonition-icon--roles);
            mask-image: var(--md-admonition-icon--roles);
  }

  :root {
    --md-admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 0 1-1.227.579L8 11.722l-3.773 3.107A.751.751 0 0 1 3 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.91l3.023-2.489a.75.75 0 0 1 .954 0l3.023 2.49V2.75a.25.25 0 0 0-.25-.25Z"/></svg>')
  }
  .md-typeset .admonition.tip,
  .md-typeset details.tip {
    border-color: rgb(9, 132, 19);
  }
  .md-typeset .tip > .admonition-title,
  .md-typeset .tip > summary {
    background-color: rgba(9, 132, 19, 0.1);
  }
  .md-typeset .tip > .admonition-title::before,
  .md-typeset .tip > summary::before {
    background-color: rgb(9, 132, 19);
    -webkit-mask-image: var(--md-admonition-icon--tip);
            mask-image: var(--md-admonition-icon--tip);
  }

  :root {
    --md-admonition-icon--requirement: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2.5 1.75v11.5c0 .138.112.25.25.25h3.17a.75.75 0 0 1 0 1.5H2.75A1.75 1.75 0 0 1 1 13.25V1.75C1 .784 1.784 0 2.75 0h8.5C12.216 0 13 .784 13 1.75v7.736a.75.75 0 0 1-1.5 0V1.75a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25m13.274 9.537zl-4.557 4.45a.75.75 0 0 1-1.055-.008l-1.943-1.95a.75.75 0 0 1 1.062-1.058l1.419 1.425 4.026-3.932a.75.75 0 1 1 1.048 1.074M4.75 4h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5M4 7.75A.75.75 0 0 1 4.75 7h2a.75.75 0 0 1 0 1.5h-2A.75.75 0 0 1 4 7.75"/></svg>')
  }
  .md-typeset .admonition.requirement,
  .md-typeset details.requirement {
    border-color: rgb(248, 181, 10);
  }
  .md-typeset .requirement > .admonition-title,
  .md-typeset .requirement > summary {
    background-color: rgba(248, 181, 10, 0.1);
  }
  .md-typeset .requirement > .admonition-title::before,
  .md-typeset .requirement > summary::before {
    background-color: rgb(248, 181, 10);
    -webkit-mask-image: var(--md-admonition-icon--requirement);
            mask-image: var(--md-admonition-icon--requirement);
  }

  :root {
    --md-admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M9.504.43a1.516 1.516 0 0 1 2.437 1.713L10.415 5.5h2.123c1.57 0 2.346 1.909 1.22 3.004l-7.34 7.142a1.25 1.25 0 0 1-.871.354h-.302a1.25 1.25 0 0 1-1.157-1.723L5.633 10.5H3.462c-1.57 0-2.346-1.909-1.22-3.004zm1.047 1.074L3.286 8.571A.25.25 0 0 0 3.462 9H6.75a.75.75 0 0 1 .694 1.034l-1.713 4.188 6.982-6.793A.25.25 0 0 0 12.538 7H9.25a.75.75 0 0 1-.683-1.06l2.008-4.418.003-.006-.004-.009-.006-.006-.008-.001q-.005 0-.009.004"/></svg>')
  }
  .md-typeset .admonition.warning,
  .md-typeset details.warning {
    border-color: rgb(255, 23, 68);
  }
  .md-typeset .warning > .admonition-title,
  .md-typeset .warning > summary {
    background-color: rgba(255, 23, 68, 0.1);
  }
  .md-typeset .warning > .admonition-title::before,
  .md-typeset .warning > summary::before {
    background-color: rgb(255, 23, 68);
    -webkit-mask-image: var(--md-admonition-icon--warning);
            mask-image: var(--md-admonition-icon--warning);
  }

  